# Environment & secrets
.env
.env.local
.venv/

# Node / frontend
node_modules/
dist/

# Editors & OS
.vscode/
.idea/
.DS_Store


# Logs (keep folder, ignore files)
*.log
!logs/.gitkeep

# Temp / swap
*.swp
*.swo
*.session
*.session-journal

# Python
__pycache__/
*.pyc



# Data: ignore raw, keep samples
data/raw/
data/raw/**
!data/sample/
!data/sample/**
!data/.gitkeep
!data/sample/.gitkeep

# dbt generated artifacts
medical_warehouse/target/
medical_warehouse/dbt_internal_packages/
dbt_internal_packages/


# dbt local user configs (IMPORTANT)
medical_warehouse/.user.yml
medical_warehouse/profiles.yml
medical_warehouse/dbt_packages/
