# Environment & secrets
.env
.env.local
.venv/

# Node / frontend
node_modules/
dist/

# Editors & OS
.vscode/
.idea/
.DS_Store

# Logs & coverage
coverage/
npm-debug.log
yarn-debug.log
yarn-error.log
*.log

# Temp / swap
*.swp
*.swo
*.session

# Python
__pycache__/
*.pyc

# Data (local only)
data/

# dbt generated artifacts
medical_warehouse/target/
medical_warehouse/dbt_internal_packages/
dbt_internal_packages/
logs/

# dbt local user configs (IMPORTANT)
medical_warehouse/.user.yml
medical_warehouse/profiles.yml
medical_warehouse/dbt_packages/
